html, body, .container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: rgb(242, 239, 220);
    font-family: "Noto Sans", Arial, sans-serif;
}

.content{
    text-align: center;
    height: auto;
}

.workSpace{
    background: rgb(255, 252, 232);
    height: 100%;
    width: 80%;
    margin: 60px auto;
}

.drawingToolbar{
    width: 600px;
    height: 600px;
    background: white;
    border: 1px solid #414354;
    margin-top: 85px;
    margin-bottom: 45px;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
}

.buttonCont{
    display: flex;
    -webkit-justify-content: center; /* Safari */
    justify-content: center;
    margin-bottom: 45px;
}

.buttons{
    width: 100px;
    height: 97px;
    margin: 0 20px;
}

.butArrow{
background-image: url("img/arrow.png");
}


.butTurnLeft{
background-image: url("img/left.png");
}

.butTurnRight{
background-image: url("img/right.png");
}
